.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Fonts*/
@font-face {
  font-family: "Pirate";
  src: local('Pirate'), url('../src/assets/fonts/pirate.ttf') format('truetype');
}
.pirateFont {
  font-family: "Pirate";
}

@font-face {
  font-family: "Beachday";
  src: local('Beachday'), url('../src/assets/fonts/beachday.ttf') format('truetype');
}

.beachFont {
  font-family: "Beachday";
}

html {
  margin: 0px;
  height: 100%;
}

button {
  background-size: cover;
  background-color: transparent;
}

/*HomePage*/
#home-page {
  background-image: url('../src/assets/castle-image.jpg');
  background-size: cover;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
.tabLink {
  font-family: "Pirate", serif;
  color: #B76E79;
}
#logo-tabLink {
  background-image: url('../src/assets/ButtonImages/sign.png');
  width: 100%;
  height: 100%;
  z-index: 1;
}
.paragraphTitle {
  font-family: "Beachday";
  font-size: 3rem;
}

.paragraphContent {
  font-family: "Beachday";
  font-size: 1rem;
}

/*Backstory*/
#backstory-page {
  background-image: url('../src/assets/chest-background.png');
  background-size: cover;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

/*Roadmap*/
#roadmap-page {
  background-image: url('../src/assets/sand-gradient-background.png');
  background-size: cover;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

#roadmap-map {
  background-image: url('../src/assets/map.png');
  position:absolute;
  top:150px;
  right:0px;
  bottom:0px;
  left:0px;
}

.roadmapTitle {
  font-family: "Pirate";
  font-size: 3rem;
}
.roadmapParagraph {
  font-family: "Beachday";
  font-size: 1rem;
}
.roadmap-item {
  font-family: "Pirate";
}
.percentage {
  font-size: 2rem;
}

/*Team*/
#team-page {
  background-image: url('../src/assets/sand-gradient-background.png');
  background-size: cover;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
.team-member {
  flex-shrink: 1;
}

/*Discord Banner*/
#join-discord-banner {
  background-image: url('../src/assets/dolphin-blurb.png');
  background-size: cover;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}