
.twitter-icon {
  width: 15rem;
  height: auto;
}
.twitter-icon2 {
  width: 4rem;
  height: auto;
}
.discord-icon {
  width: 15rem;
  height: auto;
}

.paragraphTitle {
  font-family: "Beachday";
  font-size: 6rem;
}

.paragraphTitle2 {
  font-family: "Beachday";
  font-size: 10rem;
}

.paragraphTitle3 {
  font-family: "Beachday";
  font-size: 4rem;
}

.paragraphContent {
  font-family: "Beachday";
  font-size: 2rem;
}

.paragraphContent2 {
  font-family: "Beachday";
  font-size: 3rem;
}

.paragraphTitlePirate {
  font-family: "Pirate";
  font-size: 6rem;
}

.paragraphContentPirate {
  font-family: "Pirate";
  font-size: 1.2rem;
}

.bioTitle {
  font-family: "Beachday";
  font-size: 4rem;
}
.bioContent {
  font-family: "Beachday";
  font-size: 1.3rem;
}

.title {
  font-family: "Beachday";
  font-size: 3rem;
}

.title2 {
  font-family: "Beachday";
  font-size: 2rem;
}

.textContent {
  font-family: "Beachday";
  font-size: 1rem;
}
/*Text is overrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Fonts*/
@font-face {
  font-family: "Pirate";
  src: local('Pirate'), url('../src/assets/fonts/pirate.ttf') format('truetype');
}
.pirateFont {
  font-family: "Pirate";
}

@font-face {
  font-family: "Beachday";
  src: local('Beachday'), url('../src/assets/fonts/beachday.ttf') format('truetype');
}

.beachFont {
  font-family: "Beachday";
}

@font-face {
  font-family: "Wood";
  src: local('Wood'), url('../src/assets/fonts/wood.otf') format('opentype');
}

.woodFont {
  font-family: "Wood";
}

@font-face {
  font-family: "Sand";
  src: local('Sand'), url('../src/assets/fonts/sandscrape.ttf') format('truetype');
}

.sandFont {
  font-family: "Sand";
}

.sandDarkColor {
  color: #877347;
  font-size: 1.5rem;
  font-family: "Beachday";
}

.sandDarkColorSmall {
  color: #877347;
  font-size: 1rem;
}


html {
  margin: 0px;
  height: 100%;
  font-size:100%;
}

button {
  background-size: cover;
  background-color: transparent;
}

.invisible {
  visibility: hidden;
}

.remove-all-margin{
  margin:0 ! important;
}

.remove-all-margin-padding{
  margin:0 ! important;
  padding:0 ! important;
}

/*Page specific stuff starts happening!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#videoDiv2 {width:100%; height: auto; margin:auto; display:block; position: relative;} /* This has been changed */
#video2{
  width:100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#video-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}


#intro-paragraph {
  width: 66%;
}

/*Backstory*/
#backstory-page {
  background: url('../src/assets/chest-background.png') no-repeat center center fixed;
  /*background-repeat: no-repeat;*/
  /*position: relative;*/
  /*background-size: cover;*/
  /*height: 100%;*/
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  background-position: center;
}

.backStoryParagraphTitle {
  font-family: "Beachday";
  font-size: 6rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraphContentBackstory {
  font-family: "Beachday";
  font-size: 2.5rem;

  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.backstory {*/
/*  font-family: "Beachday";*/
/*  width: 66%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  font-family: "Beachday";*/
/*  font-size: 2.5rem;*/
/*  width: 66%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  margin-left: 25rem;*/
/*}*/

@media only screen and (min-width: 1650px) and (max-width: 1800px) {
  .backStoryParagraphTitle {
    font-family: "Beachday";
    font-size: 6rem;
  }

  .paragraphContentBackstory {
    font-family: "Beachday";
    font-size: 2.5rem;
  }
}
/*.backstory {*/
/*  font-family: "Beachday";*/
/*  width: 66%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  font-family: "Beachday";*/
/*  font-size: 2.5rem;*/
/*  width: 66%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  margin-left: 25rem;*/
/*}*/

@media only screen and (min-width: 950px) and (max-width: 1650px) {
  /*HomePage*/
  .paragraphTitle2 {
    font-family: "Beachday";
    font-size: 6rem;
  }
  .paragraphContent2 {
    font-family: "Beachday";
    font-size: 2rem;
  }

  .twitter-icon2 {
    width: 7rem;
    height: auto;
  }
  .discord-icon {
    width: 7rem;
    height: auto;
  }
}

@media only screen and (min-width: 650px) and (max-width: 950px) {
  /*HomePage*/
  .paragraphTitle2 {
    font-family: "Beachday";
    font-size: 4rem;
  }
  .paragraphContent2 {
    font-family: "Beachday";
    font-size: 1.33rem;
  }
  .twitter-icon {
    width: 5rem;
    height: auto;
  }
  .twitter-icon2 {
    width: 5rem;
    height: auto;
  }
  .discord-icon {
    width: 5rem;
    height: auto;
  }
}

@media only screen and (max-width: 650px) {
  .paragraphTitle2 {
    font-family: "Beachday";
    font-size: 3rem;
  }
  .paragraphContent2 {
    font-family: "Beachday";
    font-size: 1rem;
  }
  .twitter-icon {
    width: 5rem;
    height: auto;
  }
  .twitter-icon2 {
    width: 4rem;
    height: auto;
  }
  .discord-icon {
    width: 5rem;
    height: auto;
  }
}
@media only screen and (min-width: 1650px) and (max-width: 2120px) {
  .paragraphTitle {
    font-family: "Beachday";
    font-size: 5rem;
  }
}

/*This is for The backstoryh page*/
@media only screen and (min-width: 1650px) and (max-width: 2120px) {
  .paragraphTitle {
    font-family: "Beachday";
    font-size: 5rem;
  }
}

/*This is for The backstoryh page*/
@media only screen and (min-width: 1650px) and (max-width: 2120px) {
  .paragraphTitle {
    font-family: "Beachday";
    font-size: 5rem;
  }

  .paragraphContent {
    font-family: "Beachday";
    font-size: 1.66rem;
  }

  .backStoryParagraphTitle {
    font-family: "Beachday";
    font-size: 5rem;
  }

  .paragraphContentBackstory {
    font-family: "Beachday";
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 995px) and (max-width: 1650px) {
  /*BackstoryPage*/
  .paragraphTitle {
    font-family: "Beachday";
    font-size: 3rem;
  }

  .paragraphContent {
    font-family: "Beachday";
    font-size: 1rem;
  }

  .backStoryParagraphTitle {
    font-family: "Beachday";
    font-size: 6rem;
  }

  .paragraphContentBackstory {
    font-family: "Beachday";
    font-size: 3rem;
  }
  /*#backstory-page {*/
  /*  background-image: url('../src/assets/short_chest.jpeg');*/
  /*  background-repeat: no-repeat;*/
  /*  background-size: cover;*/
  /*  position: relative;*/
  /*}*/
}

@media screen and (max-width: 995px) {
  /*BackstoryPage*/
  .paragraphTitle {
    font-family: "Beachday";
    font-size: 2rem;
  }

  .paragraphContent {
    font-family: "Beachday";
    font-size: .66rem;
  }
}

.tabImage {
  width: 100%;
  height: auto;
}

@media screen and  (max-width: 800px) {
  /*#backstory-page {*/
  /*  background-image: url('../src/assets/vert-chest.jpeg');*/
  /*  background-size: cover;*/
  /*  background-attachment: fixed;*/
  /*  background-repeat: no-repeat;*/
  /*  background-position: center;*/
  /*}*/
  .backStoryParagraphTitle {
    font-family: "Beachday";
    font-size: 5rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .paragraphContentBackstory {
    font-family: "Beachday";
    font-size: 2.1rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabImage {
    display: none;
  }
}

@media screen and  (max-width: 1500px) {
  #backstory-page {
    background-image: url('../src/assets/vert-chest.jpeg');
    /*background-size: cover;*/
    /*!*background-attachment: fixed;*!*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    height: 100%;
  }
}

#sand-gradient-pages {
  background-image: url('../src/assets/sand-gradient-background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
.roadmap-resize {
  width: 75rem;
  height: auto;
}

@media only screen and (min-width: 1000px) and (max-width: 1276px)  {
  .roadmap-resize {
    width: 60rem;
    height: auto;
  }
}
@media only screen and (min-width: 750px) and (max-width: 1000px) {
  .roadmap-resize {
    width: 40rem;
    height: auto;
  }
}

@media only screen and (min-width: 505px) and (max-width: 750px) {
  .roadmap-resize {
    width: 30rem;
    height: auto;
  }
}

@media only screen and (max-width: 505px) {
  .roadmap-resize {
    width: 20rem;
    height: auto;
  }
}

.roadmapTitle {
  font-family: "Pirate";
  font-size: 3rem;
}

.percentage {
  font-size: 4rem;
}

.faqBackground {
  background-image: url('../src/assets/sandBackground.jpg');
  background-position: center top;
  background-size: 100% auto;
}

@media only screen and (min-width: 1550px) and (max-width: 1950px) {
  .bioTitle {
    font-family: "Beachday";
    font-size: 3rem;
  }
  .bioContent {
    font-family: "Beachday";
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1550px) {
  .bioTitle {
    font-family: "Beachday";
    font-size: 3rem;
  }
  .bioContent {
    font-family: "Beachday";
    font-size: 1rem;
  }
  .team-pic {
    width: 80%;
    height: auto;
  }
}



@media only screen and (min-width: 1110px) and (max-width: 1400px) {
  .bioTitle {
    font-family: "Beachday";
    font-size: 2.4rem;
  }
  .bioContent {
    font-family: "Beachday";
    font-size: 0.8rem;
  }
  .twitter-icon {
    width: 2.66rem;
    height: auto;
  }
}

@media only screen and (max-width: 1110px) {
  .bioTitle {
    font-family: "Beachday";
    font-size: 3rem;
  }
  .bioContent {
    font-family: "Beachday";
    font-size: 1.33rem;
    width: 50%;
  }
  .twitter-icon {
    width: 4rem;
    height: auto;
  }
  .members {
    flex-direction: column;
  }
  .team-pic {
    max-width: 30rem;
    max-height: 30rem;
  }
}

.team-pic {
  width: 80%;
  height: auto;
}



.twitter-link {
  margin: 0;
}

@media only screen and (min-width: 1110px) and (max-width: 1400px) {
  .bioTitle {
    font-family: "Beachday";
    font-size: 2.4rem;
  }
  .bioContent {
    font-family: "Beachday";
    font-size: 0.8rem;
  }
  .twitter-icon {
    width: 2.66rem;
    height: auto;
  }
}

@media only screen and (max-width: 1110px) {
  .bioTitle {
    font-family: "Beachday";
    font-size: 3rem;
  }
  .bioContent {
    font-family: "Beachday";
    font-size: 1.33rem;
    width: 50%;
  }
  .twitter-icon {
    width: 4rem;
    height: auto;
  }
  .members {
    flex-direction: column;
  }
  .team-pic {
    max-width: 30rem;
    max-height: 30rem;
  }
}

.social-links {
  margin-bottom: -10rem;
}

.dolphin-banner {
  width: 100%;
  height: auto;
  margin-top: 10rem;

}