.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Fonts*/
@font-face {
  font-family: "Pirate";
  src: local('Pirate'), url('../src/assets/fonts/pirate.ttf') format('truetype');
}

@font-face {
  font-family: "Beachday";
  src: local('Beachday'), url('../src/assets/fonts/beachday.ttf') format('truetype');
}

/*HomePage*/
#home-page {
  background-image: url('../src/assets/castle-image.jpg')
}
.tabLink {
  font-family: "Beachday", serif;
}

/*Backstory*/
#backstory-page {
  background-image: url('../src/assets/chest-background.png');
}

/*Roadmap*/
#roadmap-map {
  background-image: url('../src/assets/map.png');
}